@import url('../assets/iconfont/iconfont.css');

.page {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden;
}