@import url("../assets/iconfont/iconfont.css");

page {
  background-color: #f4f4f4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.page {
  background-color: #f4f4f4;
  min-height: 100vh;
  overflow: hidden;
}

[class^="icon"],
[class*=" icon"] {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}